{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "importOrder": [
    "^@modules/(.*)$",
    "^@lib/(.*)$",
    "^@container/(.*)$",
    "^@components/(.*)$",
    "^@public/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
